@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

* {
  font-family: "Nova Mono", monospace;
  text-transform: capitalize;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  user-select: none;
}
.main {
  background-color: rgba(29, 26, 26);
}
.choice-container {
  background-color: blue;
  display: flex;
  margin-bottom: 0.8rem;
  border-radius: 4px;
  font-size: 3rem;
  min-width: 80rem;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transition: transform 0.5s;
  background-color: #00ff00;
  color: #ff3333;
}
.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
  /* background-color: red; */
}
.question {
  font-size: 5.4rem;
  color: white;
  margin-bottom: 5rem;
  text-align: center;
}
.showResult {
  text-align: center;
  background-color: rgba(29, 26, 26);
  height: 100vh;
  font-size: 12rem;
  color: #00ff00;
  margin-bottom: 5rem;
}
.showResult:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transition: transform 0.5s;
  background-color: black;
  color: #00ff00;
}
.numberQuestion {
  text-align: left;
  font-size: 3rem;
  color: red;
}
@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
.skip {
  width: 10rem;
  height: 7.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: #00ff00;
}
.skipHide {
  width: 10rem;
  height: 7.5rem;
  font-size: 3rem;
  text-transform: uppercase;
  background-color: red;
}
form > input {
  width: 80vw;
  height: 20vh;
  font-size: 5rem;
}
form > button {
  font-size: 5rem;

  width: 8vw;
  height: 20vh;
}
.login {
  text-align: center;
  background-color: rgba(29, 26, 26);
  height: 100vh;
  font-size: 5rem;
  color: #00ff00;
  margin-bottom: 5rem;
}
/* ////////////////////////////// */
.inputText > p {
  position: absolute;

  bottom: -18px;

  left: 115px;

  white-space: nowrap;

  color: #f90c0c;
}

.inputText--error > label {
  color: #f90c0c;
}

.inputText--error > input,
.inputText--error > input:focus-visible {
  border-color: #f90c0c;
}

.inputText--valid > label {
  color: #04be00;
}

.inputText--valid > input,
.inputText--valid > input:focus-visible {
  border-color: #04be00;
}
.btn-login {
  background-color: black;
  color: #00ff00;
}
.btn-login:disabled {
  background-color: #f90c0c;
  color: yellow;
}
