body {
  background-color: black;
  color: #fff;
}
.choice-container {
  background-color: blue;
  display: flex;
  margin-bottom: 0.8rem;
  border-radius: 4px;
  font-size: 3rem;
  min-width: 80rem;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transition: transform 0.5s;
  background-color: #00ff00;
  color: #ff3333;
}
.choice-prefix {
  padding: 2rem 2.5rem;
  color: white;
  /* background-color: red; */
}
.choice-text {
  padding: 2rem;
  width: 100%;
  /* background-color: green; */
}
.correct {
  background: linear-gradient(32deg, green 0%, white 100%);
}
.incorrect {
  background: linear-gradient(32deg, red 0%, white 100%);
}
#hud {
  display: flex;
  justify-content: space-between;
}
.hud-prefix {
  text-align: center;
  font-size: 2rem;
}
.hud-main-text {
  text-align: center;
}
#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgba(11, 223, 36);
  margin-top: 2rem;
  border-radius: 50px;

  overflow: hidden;

  /* background-color: red; */
}
.progressBarFull {
  height: 100%;
  background-color: red;
  width: 0%;
}
@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap");

:root {
  background-color: rgba(29, 26, 26);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Nova Mono", monospace;
}
h1 {
  font-size: 5.4rem;
  color: white;
  margin-bottom: 5rem;
}
h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}
.container {
  background-color: #595959;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
  background-color: green;
}
.hidden {
  display: none;
}
.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #00ff00;
  background-color: #4d94ff;
  /* background: linear-gradient(90deg, rgba(18,92,255) 0% rgba(0,102,255) 100% ); */
}
.btn:hover {
  cursor: pointer;
  color: red;
  background-color: #00ff00;
  transition: transform 0.5s;
  border-radius: 5px;
  transform: scale(1.2);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}
.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}
#highscore-btn {
  background-color: rgb(255, 247, 9);
  color: black;
}
#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(255, 255, 0, 0.5);
}
.fa-crown {
  font-size: 2.5rem;
  margin-left: 0.5rem;
}
